# **Cloning the git repo to use the source codes**

In [1]:
!git clone https://github.com/IJustKen/depression_project.git

fatal: destination path 'depression_project' already exists and is not an empty directory.

In [30]:
!git pull

remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 2), reused 0 (delta 0), pack-reused 0 (from 0)
Unpacking objects: 100% (4/4), 1.08 KiB | 553.00 KiB/s, done.
From https://github.com/IJustKen/depression_project
   9529538..ad43dbc  main       -> origin/main
Updating 9529538..ad43dbc
Fast-forward
 funcs/feature_selection.py | 1 +
 1 file changed, 1 insertion(+)

In [31]:
import sys
sys.path.append('/content/depression_project/funcs')
sys.path.append('/content/depression_project/data')

In [32]:
%cd depression_project

/content/depression_project/depression_project

# **Importing Necessary Functions**

In [33]:
# Imports from data_preprocessing.py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from funcs.data_preprocessing import (
    num_cat_column_analysis,
    rm_rows_with_val,
    rm_rows_with_rare_cats,
    one_hot_encode_dataframe,
    Z_Scaler,
    MinMax_Scaler,
)

# Imports from eda_plotting.py
from funcs.eda_plotting import (
    analyze_feature_distributions,
    plot_feature_target_correlations,
    plot_grouped_boxplots,
)

# Imports from feature_selection.py
from funcs.feature_selection import (
    feat_eng,
    select_features_with_rf,
    select_features_with_lasso,
    apply_pca,
)

# Imports from classification.py
from funcs.classification import (
    classify_svc,
    classify_rf,
    classify_logistic,
)

# Imports from model_evaluation.py
from funcs.model_evaluation import (
    compare_clf,
)

# Imports from hyperparameter_tuning.py
from funcs.hyperparameter_tuning import (
    best_svc_params_gridsearch,
    best_svc_params_randomizedsearch,
)

# Imports from regression.py
from funcs.regression import (
    get_training_scores,
    regress_linear,
    regress_bagging,
    regress_rf,
    compare_regs,
)

# **Data Preprocessing**

In [34]:
import pandas as pd
# %cd ..
data = pd.read_csv("data/student_depression_dataset.csv")

In [35]:
data

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

In [36]:
data.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB

In [38]:
data.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [39]:
num_cols,cat_cols=num_cat_column_analysis(data)

============================================================
Column Analysis for: id
    - Total Unique Values (n): 27901
    - Type: Numerical/High Cardinality
    - Min: 2
    - Max: 140699
    - Mean: 70442.15
============================================================
============================================================
Column Analysis for: Gender
    - Total Unique Values (n): 2
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Gender
Male      15547
Female    12354
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Age
    - Total Unique Values (n): 34
    - Type: Numerical/High Cardinality
    - Min: 18.0
    - Max: 59.0
    - Mean: 25.82
============================================================
============================================================
Column Analysis for: City
    - Total Unique Values (n): 52
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
City
Kalyan                  1570
Srinagar                1372
Hyderabad               1340
Vasai-Virar             1290
Lucknow                 1155
Thane                   1139
Ludhiana                1111
Agra                    1094
Surat                   1078
Kolkata                 1066
Jaipur                  1036
Patna                   1007
Visakhapatnam            969
Pune                     968
Ahmedabad                951
Bhopal                   934
Chennai                  885
Meerut                   825
Rajkot                   816
Delhi                    768
Bangalore                767
Ghaziabad                745
Mumbai                   699
Vadodara                 694
Varanasi                 685
Nagpur                   651
Indore                   643
Kanpur                   609
Nashik                   547
Faridabad                461
Saanvi                     2
Bhavna                     2
City                       2
Harsha                     2
'Less Delhi'               1
M.Tech                     1
3.0                        1
'Less than 5 Kalyan'       1
Mira                       1
Vaanya                     1
Gaurav                     1
Harsh                      1
Reyansh                    1
Kibara                     1
Rashi                      1
ME                         1
M.Com                      1
Nalyan                     1
Mihir                      1
Nalini                     1
Nandini                    1
Khaziabad                  1
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Profession
    - Total Unique Values (n): 14
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Profession
Student                     27870
Architect                       8
Teacher                         6
'Digital Marketer'              3
Chef                            2
'Content Writer'                2
Pharmacist                      2
Doctor                          2
'UX/UI Designer'                1
'Civil Engineer'                1
Manager                         1
'Educational Consultant'        1
Lawyer                          1
Entrepreneur                    1
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Academic Pressure
    - Total Unique Values (n): 6
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 5.0
    - Mean: 3.14
============================================================
============================================================
Column Analysis for: Work Pressure
    - Total Unique Values (n): 3
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 5.0
    - Mean: 0.00
============================================================
============================================================
Column Analysis for: CGPA
    - Total Unique Values (n): 332
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 10.0
    - Mean: 7.66
============================================================
============================================================
Column Analysis for: Study Satisfaction
    - Total Unique Values (n): 6
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 5.0
    - Mean: 2.94
============================================================
============================================================
Column Analysis for: Job Satisfaction
    - Total Unique Values (n): 5
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 4.0
    - Mean: 0.00
============================================================
============================================================
Column Analysis for: Sleep Duration
    - Total Unique Values (n): 5
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Sleep Duration
'Less than 5 hours'    8310
'7-8 hours'            7346
'5-6 hours'            6183
'More than 8 hours'    6044
Others                   18
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Dietary Habits
    - Total Unique Values (n): 4
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Dietary Habits
Unhealthy    10317
Moderate      9921
Healthy       7651
Others          12
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Degree
    - Total Unique Values (n): 28
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Degree
'Class 12'    6080
B.Ed          1867
B.Com         1506
B.Arch        1478
BCA           1433
MSc           1190
B.Tech        1152
MCA           1044
M.Tech        1022
BHM            925
BSc            888
M.Ed           821
B.Pharm        810
M.Com          734
BBA            696
MBBS           696
LLB            671
BE             613
BA             600
M.Pharm        582
MD             572
MBA            562
MA             544
PhD            522
LLM            482
MHM            191
ME             185
Others          35
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Have you ever had suicidal thoughts ?
    - Total Unique Values (n): 2
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Have you ever had suicidal thoughts ?
Yes    17656
No     10245
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Work/Study Hours
    - Total Unique Values (n): 13
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 12.0
    - Mean: 7.16
============================================================
============================================================
Column Analysis for: Financial Stress
    - Total Unique Values (n): 6
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Financial Stress
5.0    6715
4.0    5775
3.0    5226
1.0    5121
2.0    5061
?         3
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Family History of Mental Illness
    - Total Unique Values (n): 2
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Family History of Mental Illness
No     14398
Yes    13503
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Depression
    - Total Unique Values (n): 2
    - Type: Numerical/High Cardinality
    - Min: 0
    - Max: 1
    - Mean: 0.59
============================================================

In [40]:
print(f"**Numerical Columns** ({len(num_cols)}):")
print(num_cols)
print()
print(f"**Categorical Columns** ({len(cat_cols)}):")
print(cat_cols)

**Numerical Columns** (9):
['id', 'Age', 'Academic Pressure', 'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction', 'Work/Study Hours', 'Depression']

**Categorical Columns** (9):
['Gender', 'City', 'Profession', 'Sleep Duration', 'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?', 'Financial Stress', 'Family History of Mental Illness']

In [41]:
X=data.drop('Depression',axis=1)
data_new=X.drop('id',axis=1).copy()

In [42]:
Y=data['Depression']

In [43]:
column_name = 'Dietary Habits'
value_to_drop = 'Others'
data_new=rm_rows_with_val(data_new,column_name,value_to_drop)

==================================================
Dataset Size Before Drop: 27901 rows
Rows Dropped (Dietary Habits is 'Others'): 12
Dataset Size After Drop: 27889 rows
==================================================

In [44]:
column_name = 'Sleep Duration'
value_to_drop = 'Others'
data_new=rm_rows_with_val(data_new,column_name,value_to_drop)

==================================================
Dataset Size Before Drop: 27889 rows
Rows Dropped (Sleep Duration is 'Others'): 18
Dataset Size After Drop: 27871 rows
==================================================

In [45]:
data_new=rm_rows_with_rare_cats(data_new,10)
#note that financial stress is still a categorical column instead of numerical
#we have now removed the '?'.

Starting with 27871 rows.
----------------------------------------
| Gender              : 0 rare categories found.
| City                : 22 rare categories found.
| Profession          : 13 rare categories found.
| Sleep Duration      : 0 rare categories found.
| Dietary Habits      : 0 rare categories found.
| Degree              : 0 rare categories found.
| Have you ever had suicidal thoughts ?: 0 rare categories found.
| Financial Stress    : 1 rare categories found.
| Family History of Mental Illness: 0 rare categories found.
----------------------------------------
Processing Complete.
Total Rows Removed: 60
Final Rows Remaining: 27811

In [46]:
num_cols1,cat_cols1=num_cat_column_analysis(data_new)

============================================================
Column Analysis for: Gender
    - Total Unique Values (n): 2
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Gender
Male      15497
Female    12314
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Age
    - Total Unique Values (n): 34
    - Type: Numerical/High Cardinality
    - Min: 18.0
    - Max: 59.0
    - Mean: 25.82
============================================================
============================================================
Column Analysis for: City
    - Total Unique Values (n): 30
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
City
Kalyan           1563
Srinagar         1370
Hyderabad        1337
Vasai-Virar      1287
Lucknow          1154
Thane            1139
Ludhiana         1107
Agra             1090
Surat            1078
Kolkata          1064
Jaipur           1033
Patna            1006
Pune              968
Visakhapatnam     967
Ahmedabad         946
Bhopal            933
Chennai           884
Meerut            820
Rajkot            815
Bangalore         765
Delhi             765
Ghaziabad         743
Mumbai            697
Vadodara          692
Varanasi          684
Nagpur            649
Indore            642
Kanpur            606
Nashik            547
Faridabad         460
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Profession
    - Total Unique Values (n): 1
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Profession
Student    27811
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Academic Pressure
    - Total Unique Values (n): 6
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 5.0
    - Mean: 3.14
============================================================
============================================================
Column Analysis for: Work Pressure
    - Total Unique Values (n): 3
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 5.0
    - Mean: 0.00
============================================================
============================================================
Column Analysis for: CGPA
    - Total Unique Values (n): 332
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 10.0
    - Mean: 7.66
============================================================
============================================================
Column Analysis for: Study Satisfaction
    - Total Unique Values (n): 6
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 5.0
    - Mean: 2.94
============================================================
============================================================
Column Analysis for: Job Satisfaction
    - Total Unique Values (n): 5
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 4.0
    - Mean: 0.00
============================================================
============================================================
Column Analysis for: Sleep Duration
    - Total Unique Values (n): 4
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Sleep Duration
'Less than 5 hours'    8290
'7-8 hours'            7324
'5-6 hours'            6166
'More than 8 hours'    6031
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Dietary Habits
    - Total Unique Values (n): 3
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Dietary Habits
Unhealthy    10287
Moderate      9897
Healthy       7627
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Degree
    - Total Unique Values (n): 28
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Degree
'Class 12'    6074
B.Ed          1858
B.Com         1503
B.Arch        1475
BCA           1428
MSc           1183
B.Tech        1151
MCA           1039
M.Tech        1019
BHM            921
BSc            883
M.Ed           817
B.Pharm        808
M.Com          733
BBA            695
MBBS           693
LLB            669
BE             608
BA             594
M.Pharm        580
MD             568
MBA            560
MA             542
PhD            519
LLM            480
MHM            191
ME             185
Others          35
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Have you ever had suicidal thoughts ?
    - Total Unique Values (n): 2
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Have you ever had suicidal thoughts ?
Yes    17594
No     10217
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Work/Study Hours
    - Total Unique Values (n): 13
    - Type: Numerical/High Cardinality
    - Min: 0.0
    - Max: 12.0
    - Mean: 7.16
============================================================
============================================================
Column Analysis for: Financial Stress
    - Total Unique Values (n): 5
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Financial Stress
5.0    6690
4.0    5764
3.0    5210
1.0    5101
2.0    5046
Name: count, dtype: int64
============================================================
============================================================
Column Analysis for: Family History of Mental Illness
    - Total Unique Values (n): 2
    - Type: Categorical/Ordinal/Low Cardinality
    - Value Counts:
Family History of Mental Illness
No     14348
Yes    13463
Name: count, dtype: int64
============================================================

In [47]:
data_num=data_new[num_cols1]
data_cat=data_new[cat_cols1]

In [48]:
#Financial stress needs to go to numerical columns after removal of  '?'.
data_num['Financial Stress']=data_cat['Financial Stress']
data_cat=data_cat.drop('Financial Stress',axis=1)
data_num['Financial Stress'] = pd.to_numeric(data_num['Financial Stress'], errors='raise')

# #target is a numerical column
# data_num=data_num.drop(['id','Depression'],axis=1)

# # removal of '?'
#column_name = 'Financial Stress'
# print(f"Initial unique values: {data_num[column_name].unique()}")
# data_num[column_name] = data_num[column_name].replace('?', np.nan)
# data_num['Financial Stress'] = pd.to_numeric(data_num['Financial Stress'], errors='raise')
# print(f"New data type for '{column_name}': {data_num[column_name].dtype}")
# print(f"Number of missing values (NaN) now: {data_num[column_name].isna().sum()}")

# #imputation with median
# median_value = data_num[column_name].median()
# data_num[column_name]=data_num[column_name].fillna(median_value)
# print(f"Imputed NaN with median: {median_value}")
# print(f"Missing values after imputation: {data_num[column_name].isna().sum()}")

/tmp/ipython-input-1345118520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num['Financial Stress']=data_cat['Financial Stress']
/tmp/ipython-input-1345118520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num['Financial Stress'] = pd.to_numeric(data_num['Financial Stress'], errors='raise')

In [49]:
data_num.describe()

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress
count,27811.000000,27811.000000,27811.000000,27811.000000,27811.000000,27811.000000,27811.000000,27811.000000
mean,25.819496,3.141059,0.000431,7.655950,2.943871,0.000683,7.159254,3.140088
std,4.907076,1.381904,0.044063,1.471008,1.360952,0.044466,3.706694,1.437018
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,21.000000,2.000000,0.000000,6.280000,2.000000,0.000000,4.000000,2.000000
50%,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000
75%,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000
max,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000

In [50]:
data_num.columns

Index(['Age', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Work/Study Hours',
       'Financial Stress'],
      dtype='object')

In [51]:
data_cat.columns

Index(['Gender', 'City', 'Profession', 'Sleep Duration', 'Dietary Habits',
       'Degree', 'Have you ever had suicidal thoughts ?',
       'Family History of Mental Illness'],
      dtype='object')

In [52]:
#label encoding using .map() for two columns sleep duration and dietary habits as they have ordinal categories.
sleep_mapping = {
    "'Less than 5 hours'": 1,
    "'5-6 hours'": 2,
    "'7-8 hours'": 3,
    "'More than 8 hours'":4,

    # Add other categories if they exist (e.g., 'More than 8 hours': 4)
}
diet_mapping = {
    'Unhealthy': 1,
    'Moderate': 2,
    'Healthy': 3
}

data_cat['Sleep Duration_Encoded'] = data_cat['Sleep Duration'].map(sleep_mapping)
data_cat['Dietary Habits_Encoded'] = data_cat['Dietary Habits'].map(diet_mapping)

In [53]:
data_cat

,Gender,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Family History of Mental Illness,Sleep Duration_Encoded,Dietary Habits_Encoded
0,Male,Visakhapatnam,Student,'5-6 hours',Healthy,B.Pharm,Yes,No,2,3
1,Female,Bangalore,Student,'5-6 hours',Moderate,BSc,No,Yes,2,2
2,Male,Srinagar,Student,'Less than 5 hours',Healthy,BA,No,Yes,1,3
3,Female,Varanasi,Student,'7-8 hours',Moderate,BCA,Yes,Yes,3,2
4,Female,Jaipur,Student,'5-6 hours',Moderate,M.Tech,Yes,No,2,2
...,...,...,...,...,...,...,...,...,...,...
27896,Female,Surat,Student,'5-6 hours',Unhealthy,'Class 12',Yes,Yes,2,1
27897,Male,Ludhiana,Student,'Less than 5 hours',Healthy,MSc,No,Yes,1,3
27898,Male,Faridabad,Student,'5-6 hours',Unhealthy,MD,No,No,2,1
27899,Female,Ludhiana,Student,'Less than 5 hours',Healthy,'Class 12',Yes,No,1,3
27900,Male,Patna,Student,'Less than 5 hours',Healthy,BCA,Yes,Yes,1,3

In [54]:
data_cat['Dietary Habits_Encoded'].value_counts()

Dietary Habits_Encoded
1    10287
2     9897
3     7627
Name: count, dtype: int64

In [55]:
data_cat['Sleep Duration_Encoded'].value_counts()

Sleep Duration_Encoded
1    8290
3    7324
2    6166
4    6031
Name: count, dtype: int64

In [61]:
df_new_feat = feat_eng(data_num)

/content/depression_project/funcs/feature_selection.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Pressure'] = df['Academic Pressure'] + df['Work Pressure']
/content/depression_project/funcs/feature_selection.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # we could assume the opposite for someone prone to depression.

KeyError: 'Total_Pressure'

In [57]:
data_ohe=data_cat.drop(['Sleep Duration','Dietary Habits','Sleep Duration_Encoded','Dietary Habits_Encoded'],axis=1)
df_new_feat[['Sleep Duration','Dietary Habits']]=data_cat[['Sleep Duration_Encoded','Dietary Habits_Encoded']]
data_num_scaled_Z=Z_Scaler(df_new_feat)
data_num_scaled_MM=MinMax_Scaler(df_new_feat)

NameError: name 'df_new_feat' is not defined

In [58]:
data_num_scaled_MM

NameError: name 'data_num_scaled_MM' is not defined

In [59]:
data_num_scaled_Z

NameError: name 'data_num_scaled_Z' is not defined

In [60]:
data_ohe.describe()

,Gender,City,Profession,Degree,Have you ever had suicidal thoughts ?,Family History of Mental Illness
count,27811,27811,27811,27811,27811,27811
unique,2,30,1,28,2,2
top,Male,Kalyan,Student,'Class 12',Yes,No
freq,15497,1563,27811,6074,17594,14348

In [ ]:
data_ohe=one_hot_encode_dataframe(data_ohe)

In [ ]:
data_ohe.columns

In [ ]:
data_final=pd.concat([data_num_scaled_Z,data_ohe],axis=1)

In [ ]:
data_final #final preprocessed data with scaled numerical columns adn label encoded columns and One hot encoded column(bulk of th e columns)
#69 columns ==> 59 One hot encoded : 2 z_scaled label encoded : 8 z_scaled numerical columns

# **Training the classification model**

In [ ]:
from sklearn.model_selection import train_test_split
Y = Y.reindex(data_final.index)
X_train, X_test, Y_train, Y_test = train_test_split(data_final, Y, test_size=0.2, random_state=42, stratify=Y)

In [ ]:
selected_features_list = select_features_with_rf(X_train, Y_train)

#Selected features only
X_train_final = X_train[selected_features_list]
X_test_final = X_test[selected_features_list] # Make sure to apply to X_test as well

In [ ]:
classify_logistic(X_train_final, Y_train, X_test_final, Y_test)

In [ ]:
classify_svc(X_train_final, Y_train, X_test_final, Y_test)

In [ ]:
classify_rf(X_train_final, Y_train, X_test_final, Y_test)

# **Applying PCA**

In [ ]:
# Now, apply PCA to retain 95% of the variance
X_train_pca, X_test_pca, pca = apply_pca(X_train_final, X_test_final, n_components=0.95)

# Or, apply PCA to get exactly 10 components
# X_train_pca, X_test_pca, pca = apply_pca(X_train_final, X_test_final, n_components=10)

In [ ]:

classify_logistic(X_train_pca, Y_train, X_test_pca, Y_test, class_weight='balanced')
#X_train_pca.shape

# **HyperParameter Tuning**

In [ ]:
from scipy.stats import uniform

C = [10**-5, 10**-4, 10**-3, 10**-2, 10**-1, 10**0, 10**1, 10**2]
gammaValues = ["scale", "auto"]
param_grid = {
    "kernel": ["linear", "rbf", "poly"],
    "C": C,
    "degree": [i for i in range(1, 20)],
    "gamma": gammaValues,
    "decision_function_shape": ["ovo", "ovr"],
}

In [ ]:
param_grid['C']

In [ ]:
best_clf = best_svc_params_gridsearch(X_train_final, Y_train, param_grid)

In [ ]:
#C=9.999999999999999e-06, decision_function_shape=ovo, degree=1, gamma=scale, kernel=linear;

trial_clf = SVC(C=9.999999999999999e-06, decision_function_shape='ovo', degree=1, gamma='scale', kernel='linear')

trial_clf.fit(X_train_final, Y_train)
Y_pred = trial_clf.predict(X_test_final)
accuracy_score(Y_test,Y_pred)

In [ ]:
from sklearn.metrics import recall_score
print(recall_score(Y_test,Y_pred))

In [ ]:
Y.value_counts()